@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

:root {
    --container-width: 1330px;
    --container-padding: 15px;
    --secondary: rgba(26, 32, 44, 0.45); 
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
    /*background-color: aqua;*/
}

.container-right {
    padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding) );
}

/*header*/
.header {
    max-height: 852px;
    padding-top: 31px;
}

.header a {
    color: #1A202C;
}

.header_top {
    margin-bottom: 50px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 10px;
}

.header_row {
    display: flex;
    column-gap: 38px;
}

.header_content {
    max-width: 574px;
}

.header_img {
    max-width: 703px;
}

.header_img img{
    position: absolute;
    bottom: 0;
    width: 703px;
    height: 565px;
}

.nav{
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    color: rgba(26, 32, 44, 0.9);
}

.nav_list{
    display: flex;
    column-gap: 35px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    
}
.nav_login{
    display: flex;
    column-gap: 18px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 600;
}

/*button login*/
a.btn {
    display: inline-block;
    padding: 9px 21px;
    font-size: 14px;
    font-weight: 500;
    background-color: #000000;
    border-radius: 4px;
    color: #FFF;
}

/*header content*/
.header_title {
    font-size: 50px;
    font-weight: 700;
    color: rgb(26, 32, 44);
    margin-bottom:28px;
}
.header_text {
    font-size: 20px;
    font-weight: 500;
    color: rgba(26, 32, 44, 0.45);
    margin-bottom:26px;
}
.header_text_reg {
    font-size: 20px;
    font-weight: 500;
    color: rgb(26, 32, 44);
    margin-bottom:10px;
}
a.header_registration_btn {
    display: inline-block;
    padding: 9px 21px;
    font-size: 14px;
    font-weight: 500;
    background-color: #000000;
    border-radius: 4px;
    margin-bottom:14px;
    color: #FFF;
}
.header_text_log {
    font-size: 14px;
    font-weight: 500;
    color: rgb(26, 32, 44);
}

/*popup*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 32, 44, 0.42);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content {
    background-color: #FFF;
    color: #1A202C;
    max-width: 700px;
    padding: 20px 40px;
    position: relative;
    box-shadow: 0px 5px 24px rgba(117, 120, 139, 0.1);
    border-radius: 16px;
}
.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color:#000000;
    text-decoration: none;
}
.popup_title {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 20px 30px 20px;
    display: flex;
    gap: 40px;
}

.popup_row {
    display: flex;
    column-gap: 40px;
    margin: 20px;
}

.popup_right {
    max-width: 190px;
}

.welcome {
    font-size: 16px;
    font-weight: 600;
    color: #586870;
    text-align: center;
    margin-bottom:14px;
}

.agreement_text {
    font-size: 10px;
    font-weight: 400;
    color: #586870;
    text-align: center;
    margin-bottom:14px;
}

/*login*/
.login_form {
    max-width: 256px;
}

input {
    width: 400px;
    height: 34px;
    border: 0.5px solid #C0C6C9;
    border-radius: 8px;
    margin-bottom:15px;
}

label {
    font-weight: 500;
    font-size: 14px;
    color: #111B2B;
}

.forgot_password {
    font-size: 10px;
    font-weight: 400;
    color: #586870;
}

.login_button {
    font-weight: 600;
    font-size: 12px;
    color: #FFF;
    padding: 8px 20px;
    background: #000000;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

/*signup*/
.signup_form {
    max-width: 256px;
}

.signup_form input {
    margin-bottom:10px;
}

.active {
    color: rgba(89, 87, 186, 1);
}
.active::after {
    content: "";
    margin-top: 8px;
    display: block;
    height: 2px;
    background: radial-gradient(1125% 55200.1% at 59.37% -450%, #5957BA 0%, rgba(89, 87, 186, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 13px;
}

.popup_title a {
    color: rgba(88, 104, 112, 1);
}

:disabled { background: #ccc; }

.order_row {
    display: flex;
    flex-direction: row;
    column-gap: 330px;
    margin: 20px;
}

.order_form {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    column-gap: 330px;
    margin: 20px;
}

.content_form {
    max-height: 852px;
    max-width: 574px;
}

.btn_next {
    font-weight: 600;
    font-size: 12px;
    color: #FFF;
    padding: 8px 20px;
    background: #000000;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

p {
    font-size: 14px;
    font-weight: 500;
    color: #111B2B;
}

.check_input {
    width: 16px;
    height: 16px;
    border: 2px solid #CFD9E0;
    border-radius: 4px;
    margin-bottom: 10px;
}

.wishes {
    border: 1px solid #CFD9E0;
    box-shadow: inset 0px 2px 0px rgba(231, 235, 238, 0.2);
    border-radius: 6px;
    width: 400px;
}

select {
    border: 1px solid #CFD9E0;
/* Inner Shadow/Default */

box-shadow: inset 0px 2px 0px rgba(231, 235, 238, 0.2);
border-radius: 6px;
width: 400px;
    height: 34px;
    margin-bottom:15px;
}

.wish_container {
    margin-top: 15px;
}

.cost {
    margin-top: 15px;
}

.default {
    font-weight: 400;
    font-size: 14px;
    color: #67728A;
}